{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title{% block title %}>NWIRP volunteering{% endblock title %}</title>
  <meta name="description" content="A volunteer management system for NWIRP">
  <meta name="author" content="Luis Naranjo">

  <link rel="stylesheet" href="{% static "core/index.css" %}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  {% block body %}
  {% endblock body %}
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    
  <script src="js/scripts.js"></script>
</body>
</html>