{% extends "./base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static "core/css/listing.css" %}"> {% endblock head %} {% block body %}

<h1>Volunteer opportunities</h1>
<div class="divider"></div>



<p>
    Select one or more volunteer categories that you are interested in. After you've selected your intestered, we ask that you
    fill out a short survey that will help us best place you as a volunteer.
</p>

<form action="#">
    <p>
        <input type="checkbox" id="test5" />
        <label for="test5">Take a pro bono case</label>
    </p>
    <p>
        <input type="checkbox" id="test6" />
        <label for="test6">Volunteer translators/interpreters</label>
    </p>
    <p>
        <input type="checkbox" id="test6" />
        <label for="test6">Juvenile immigration cases &amp; family law cases</label>
    </p>
    <p>
        <input type="checkbox" id="test6" />
        <label for="test6">General intake volunteers</label>
    </p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>


{% endblock body %}