{% extends "./base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static "core/css/listing.css" %}"> {% endblock head %} {% block body %}

<h1>Volunteer opportunities</h1>
<div class="divider"></div>



<p>
    Select one or more volunteer categories that you are interested in. After you've selected your intestered, we ask that you
    fill out a short survey that will help us best place you as a volunteer.
</p>

{{ opportunities }}

<form action="{% url 'volunteer_survey' %}" method="POST">
    {% csrf_token %}

    {% for opportunity in opportunity_list %}
    <p>
      <input type="checkbox" name="categories[]" value="{{ opportunity.id }}" id="{{ opportunity.id }}" />
      <label for="{{ opportunity.id }}">{{ opportunity.name }}</label>
    </p>
    {% endfor %}

    <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
</form>


{% endblock body %}